// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/*混雑表示判定色*/
$bg-color-auto: #1976d2;
$bg-color-empty: #2eb755;
$bg-color-full: #ffc0cd;
$bg-color-almostfull: #ffdab9;
$bg-color-underadjustment: rgb(181, 175, 175);
$txt-color-auto: #1976d2;
$txt-color-empty: #ffff;
$txt-color-full: red;
$txt-color-almostfull: rgb(255, 166, 0);
$bg-color-notcamera: rgb(240, 239, 239);