$breakpoints: (
  // sm: 'only screen and (max-width: 575px)',
  sm: 'only screen and (max-width: 767px)',
  md: 'only screen and (min-width: 768px)',
  lg: 'only screen and (min-width: 1201px)',
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}